<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">
</head>

<body ng-app="blogApp" ng-controller="HomeController">

	<div>
		{{test}}
	</div>
	<script src="./bower_components/angular/angular.js"></script>
	<script src="./angularapp.js"></script>
	<!--<script src="./public/angularapp.js"></script>-->
	<script src="./bower_components/angular-aria/angular-aria.js"></script>
	<script src="./bower_components/angular-animate/angular-animate.js"></script>
	<script src="./bower_components/angular-material/angular-material.js"></script>
</body>

</html>